::-webkit-scrollbar {
		  width: 5px;
		}

		/* Track */
		::-webkit-scrollbar-track {
		  background: #f1f1f1; 
		}
		 
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #888;
		  border-radius: 5px;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #555; 
		}
		.container{
			width: 0px;
			height: 0px;
			overflow: hidden;
			/*width: 350px;
			height: 500px;*/
			border: 1px solid rgba(242, 242, 242,0.5);
			background-color: rgba(242, 242, 242,0.2);
			box-shadow: 1px 1px 10px gray;
			transition: 0.2s;
		}
		.history{
			height: 25%;
			text-align: right;
		}
		.MFClose{
			font-size: 20px;
			background-color: rgba(242, 242, 242,0.1);
			border: none;
			padding: 10px 30px 10px 30px;
			margin:0px;
			font-weight: lighter;
		}
		.MFClose:hover{
			background-color: rgba(242, 242, 242,1);
		}
		.Ans{
			height: 15%;
			padding-right: 10px;
		}
		.button{
			height: 60%;
		}
		#query{
			outline: none;
			width: 100%;
			text-align: right;
			font-size: 30px;
			border: none;
			display: block;
			background-color: rgba(242, 242, 242,0.1);
		}
		#ans{
			outline: none;
			width: 100%;
			text-align: right;
			border: none;
			display: block;
			background-color: rgba(242, 242, 242,0.1);

		}
		#close:hover{
			background-color: rgb(255, 26, 26);
			color: white;
		}
		.icon{
			background-color: rgba(242, 242, 242,0.9);
			border: none;
			font-size: 20px;
			width: 50px;
			height: 50px;
			transition: 0.5s;
		}
		.subButton{
			height: 20%;
		}
		p{
			float: right;
			margin: 0px;
			font-size: 20px;
			margin-right: 10px;
			transition: 0.5;
		}
		button{
			outline: none;
			width: 25%;
			height: 100%;
			border: 1px solid rgba(242, 242, 242,0.1);
			background-color: white;
			font-weight: bold;
		}
		button:hover{
			background-color: rgba(242, 242, 242,0.8);
		}